talos-ops-prod-talos-dev-cp-01.yaml
talos-ops-prod-talos-dev-worker-01.yaml
talosconfig
talos-ops-dev-talos-dev-cp-00.yaml
talos-ops-dev-talos-dev-worker-00.yaml
talos-ops-dev-talos-dev-worker-01.yaml
talos-dev-talos-dev-cp-00.yaml
talos-dev-talos-dev-cp-01.yaml
talos-dev-talos-dev-cp-02.yaml
talos-dev-melfina.yaml
talos-dev-talos-dev-worker-01.yaml
talos-dev-talos-dev-worker-02.yaml
home-ops-melfina.yaml
home-ops-talos-dev-worker-02.yaml
home-ops-k3s-cp-proxmox.yaml
home-ops-k3s-cp-00.yaml
home-ops-k3s-cp-01.yaml
home-ops-k3s-cp-02.yaml
home-ops-k3s-worker-00.yaml
home-ops-k3s-worker-01.yaml
home-ops-k3s-worker-02.yaml
home-ops-cp-proxmox.yaml
home-ops-cp-00.yaml
home-ops-cp-02.yaml
home-ops-worker-01.yaml
home-ops-worker-02.yaml
