# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &appname openwebui
  namespace: &namespace home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    defaultPodOptions:
      nodeSelector:
        node-role.kubernetes.io/worker: 'true'
    controllers:
      main:
        type: deployment
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          01-init-db:
            image:
             repository: ghcr.io/onedr0p/postgres-init
             tag: 17.4
            env:
              - name: INIT_POSTGRES_HOST
                value: defaultpg-rw.databases.svc.cluster.local
              - name: INIT_POSTGRES_DBNAME
                value: *appname
              - name: INIT_POSTGRES_SUPER_PASS
                valueFrom:
                  secretKeyRef:
                    name: postgres-superuser
                    key: password
            envFrom:
              - secretRef:
                  name: *appname
        containers:
          main:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.36
            env:
              GLOBAL_LOG_LEVEL: DEBUG
              TZ: ${TIMEZONE}
              WEBUI_URL: https://chat.${SECRET_DEV_DOMAIN}
              WEBUI_NAME: The Kao Cloud
              ENABLE_LOGIN_FORM: false
              DEFAULT_USER_ROLE: user
              DEFAULT_MODELS: deepseek-v3-chat
              ENABLE_OLLAMA_API: false
              ENABLE_RAG_WEB_SEARCH: true
              # OAuth
              ENABLE_OAUTH_SIGNUP: true
              OAUTH_PROVIDER_NAME: The Kao Cloud Login
              OAUTH_CLIENT_ID: open-webui
              OAUTH_CLIENT_SECRET: ${SECRET_OPEN_WEBUI_OAUTH_CLIENT_SECRET}
              OAUTH_SCOPES: "openid email profile"
              OPENID_PROVIDER_URL: https://authelia.${SECRET_DEV_DOMAIN}/.well-known/openid-configuration
              WEBUI_SESSION_COOKIE_SAME_SITE: none
              WEBUI_SESSION_COOKIE_SECURE: true
              WEBUI_AUTH_COOKIE_SAME_SITE: none
              WEBUI_AUTH_COOKIE_SECURE: true
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: true
              # OpenAI
              OPENAI_API_BASE_URL: https://ai.${SECRET_DEV_DOMAIN}/v1

            envFrom:
              - secretRef:
                  name: &appname openwebui

            resources:
              requests:
                cpu: 15m
                memory: 94M
    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        storageClass: longhorn
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /data
      #config-yaml:
      #  enabled: true
      #  type: configMap
      #  name: open-webui-configmap
      #  globalMounts:
      #    - path: /home/node/app/config/config.yaml
      #      subPath: config.yaml
      #docker-entrypoint-sh:
      #  enabled: true
      #  type: configMap
      #  name: open-webui-configmap
      #  globalMounts:
      #    - path: /home/node/app/docker-entrypoint.sh
      #      subPath: docker-entrypoint.sh
    service:
      main:
        ports:
          http:
            port: 8080
        primary: true
        controller: main
    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          hajimari.io/enable: 'true'
          hajimari.io/icon: baby-bottle-outline
          hajimari.io/info: ChatGPT
          hajimari.io/group: &namespace home
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: networking-chain-authelia@kubernetescrd
        hosts:
          - host: &uri chat.${SECRET_DEV_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *uri
            secretName: *uri
