---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator-crds
  namespace: databases
spec:
  interval: 15m
  chart:
    spec:
      chart: mariadb-operator-crds
      version: 0.35.0
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator-charts
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false