---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-operator
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: intel-device-plugins-operator
      version: 0.35.0
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  maxHistory: 3
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    manager:
      devices:
        gpu: true
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: MutatingWebhookConfiguration
              name: inteldeviceplugins-mutating-webhook-configuration
            patch: |
              - op: remove
                path: /webhooks/?name=fpga.mutator.webhooks.intel.com
