---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-shadow
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.2.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 5m
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  install:
    createNamespace: true
    remediation:
      retries: 4
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      registry: docker.io
      repository: traefik
      tag: v3.6.2
    
    deployment:
      kind: Deployment
      replicas: 2
    
    nodeSelector:
      node-role.kubernetes.io/worker: "true"
    
    service:
      enabled: true
      type: ClusterIP
      annotations:
        external-dns.home.arpa/enabled: "false"
    
    logs:
      general:
        format: json
        level: INFO
      access:
        enabled: true
        format: json
    
    core:
      defaultRuleSyntax: v2
    
    ingressClass:
      enabled: false
    
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik-shadow.local`)
        entryPoints:
          - websecure
    
    globalArguments:
      - "--api.insecure=true"
      - "--serverstransport.insecureskipverify=true"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"
    
    additionalArguments:
      - "--providers.kubernetescrd=false"
      - "--providers.kubernetesingress=false"
    
    ports:
      traefik:
        expose:
          default: true
      web:
        port: 8000
        exposedPort: 8000
        expose:
          default: true
      websecure:
        port: 8443
        exposedPort: 8443
        tls:
          enabled: true
          options: "default"
        expose:
          default: true
      metrics:
        port: 8082
        expose:
          default: true
        exposedPort: 8082
    
    tlsOptions:
      default:
        minVersion: VersionTLS12
        maxVersion: VersionTLS13
        sniStrict: true
    
    metrics:
      prometheus:
        entryPoint: metrics
        addRoutersLabels: true
        serviceMonitor:
          enabled: false
    
    resources:
      requests:
        memory: 100Mi
        cpu: 250m
      limits:
        memory: 500Mi