default_stages: [commit]
minimum_pre_commit_version: 3.0.0

repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--strict, -c, .yamllint]
