---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: test-nginx
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        
        containers:
          app:
            image:
              repository: docker.io/library/nginx
              tag: latest
            
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 128Mi
    
    service:
      main:
        controller: main
        ports:
          http:
            port: 80
    
    ingress:
      main:
        enabled: false
