---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: forgejo
  namespace: flux-system
spec:
  interval: 12h
  url: oci://code.forgejo.org/forgejo-helm
  ref:
    tag: 10.4.0
