apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
commonLabels:
  app.kubernetes.io/name: &app tabbyapi
  app.kubernetes.io/instance: *app
resources:
  - config/config.yaml
  - config/download-model.yaml
  - pvc-models.yaml
  - helm-release.yaml
