---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-default-test-nginx
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/apps/default/test-nginx/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
