# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ogcs
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: Always
    controllers:
      ogcs:
        containers:
          app:
            image:
              repository: ghcr.io/lenaxia/outlookgooglecalendarsync
              tag: 3.0.0@sha256:fa0e0f3ac5b4ce149f0a2f847d3b5ebcf5fd7e73a01f321f651d0f0c7da97e99
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "America/Los_Angeles"
              UMASK: "002"

            # Optional: pass display size to KasmVNC baseimage
            #envFrom:
            #  - configMapRef:
            #      name: ogcs-env

    service:
      app:
        ports:
          http:
            port: 3000

    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/enable: 'true'
          hajimari.io/icon: calendar
          hajimari.io/group: Productivity
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: networking-chain-authelia@kubernetescrd
        hosts:
          - host: &uri ogcs.thekao.cloud
            paths:
              - path: /
                pathType: Prefix
                service:
                  port: http
        tls:
          - hosts:
              - *uri
            secretName: *uri
        className: traefik

    persistence:
      config:
        enabled: true
        existingClaim: ogcs-config
        globalMounts:
          - path: /config

      downloads:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /downloads
