apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ogcs-config
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
