apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kopia
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    defaultPodOptions:
      securityContext:
        supplementalGroups:
          - 100
      nodeSelector:
        node-role.kubernetes.io/worker: 'true'
    controllers:
      main:
        initContainers:
          wait-for-repo:
            command:
              - /bin/bash
              - -c
              - |-
                until [ -f /snapshots/kopia.repository.f ]; do
                    printf "\e[1;32m%-6s\e[m\n" "Awaiting for the Kopia repo to become ready ..."
                    sleep 1
                done
            image:
              repository: kopia/kopia
              tag: 
                20251114.0.55856@sha256:4d75693cff371129d07c6088389a910a6a941a1f6cb795f2e9b82e974613d8ab
        containers:
          main:
            image:
              repository: kopia/kopia
              tag: 
                20251114.0.55856@sha256:4d75693cff371129d07c6088389a910a6a941a1f6cb795f2e9b82e974613d8ab
              pullPolicy: Always
            env:
              TZ: ${TIMEZONE}
              KOPIA_PASSWORD: none
              KOPIA_CONFIG_PATH: /config/repository.config
              KOPIA_LOG_DIR: /config/logs
              KOPIA_CACHE_DIRECTORY: /config/cache
              KOPIA_PERSIST_CREDENTIALS_ON_CONNECT: 'false'
              KOPIA_CHECK_FOR_UPDATES: 'false'
              RCLONE_CONFIG: /config/rclone/rclone.conf
            command: kopia
            args:
              - server
              - start
              - --insecure
              - --address=0.0.0.0:80
              - --metrics-listen-addr=0.0.0.0:8080
              - --without-password
    service:
      main:
        type: LoadBalancer
        ports:
          http:
            port: 80
          metrics:
            port: 8080
            enabled: true
        primary: true
    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/enable: 'true'
          hajimari.io/icon: backup-restore
          hajimari.io/group: Storage
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: 
            networking-chain-authelia@kubernetescrd
        hosts:
          - host: &host '{{ .Release.Name }}.${SECRET_DEV_DOMAIN}'
            paths:
              - path: /
                pathType: Prefix
                service:
                  port: http
        tls:
          - hosts:
              - *host
            secretName: *host
        className: traefik
    persistence:
      config:
        enabled: true
        type: configMap
        name: &app kopia
        globalMounts:
          - path: /config/repository.config
            subPath: repository.config
      snapshots:
        enabled: true
        type: nfs
          #server: ${NAS_ADDR}
          #path: ${NFS_KOPIA}
        server: 192.168.0.120
        path: /volume1/backups/kopia
        globalMounts:
          - path: /snapshots
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
