---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: komga-config-volume
    labels:
      app: komga
      snapshot.home.arpa/enabled: "true"
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: longhorn
    resources:
        requests:
            storage: 150Gi 
