# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komga
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      komga:
        containers:
          app:
            image:
              repository: gotson/komga
              tag: 
                1.23.6@sha256:09129eae6eff50337f039bd6e99d995126cb03226950c80e9864cbc05f10a661
            env:
              TZ: "${TIMEZONE}"
              SERVER_PORT: &port 8080
              KOMGA_OAUTH2_ACCOUNT_CREATION: "true"
            resources:
              requests:
                memory: 4282M
                cpu: 15m
              limits:
                memory: 4282M
    service:
      app:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/enable: 'true'
          hajimari.io/icon: subtitles
          hajimari.io/group: Media
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: 
            networking-chain-authelia@kubernetescrd
        hosts:
          - host: &uri read.${SECRET_DEV_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  port: http
        tls:
          - hosts:
              - *uri
            secretName: *uri
        className: traefik
    persistence:
      config:
        enabled: true
        existingClaim: komga-config-volume
        globalMounts:
          - path: /config
            subPath: config
          - path: /mnt/manga
            subPath: media
          - path: /mnt/komga-config-volume
      media:
        enabled: true
        existingClaim: komga-media-volume
        globalMounts:
          - path: /mnt/manga-media-vol
      secret:
        enabled: true
        type: secret
        name: komga-secret
        globalMounts:
          - path: /config/application.yml
            readOnly: true
            subPath: application.yml
