apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media 
commonLabels:
  app.kubernetes.io/name: &app komga
  app.kubernetes.io/instance: *app
resources:
  #- config-pvc.yaml
  - secret.sops.yaml
    #- helm-release.yaml
