# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 2h
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      mosquitto:
        annotations:
          reloader.stakater.com/auto: "true"
#        initContainers:
#          init-config:
#            image:
#              repository: docker.io/library/eclipse-mosquitto
#              tag: 2.0.21@sha256:94f5a3d7deafa59fa3440d227ddad558f59d293c612138de841eec61bfa4d353
#            command: ["/bin/sh", "-c"]
#            args: ["cp /tmp/secret/* /mosquitto/external_config/ && mosquitto_passwd -U /mosquitto/external_config/mosquitto_passwd && chmod 0700 /mosquitto/external_config/mosquitto_passwd"]
        containers:
          app:
            image:
              repository: docker.io/library/eclipse-mosquitto
              tag: 
                2.0.22@sha256:e011726bdfa757011bc8b8716e03b7c35d2c3f623d9f658c2c6bf66e909ea42e
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 20Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        pod:
          imagePullSecrets:
            - name: dockerhub-auth
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        loadBalancerIP: ${SVC_MOSQUITTO_ADDR}
        type: LoadBalancer
        #annotations:
        #  external-dns.alpha.kubernetes.io/hostname: mosquitto.18b.haus
        #  io.cilium/lb-ipam-ips: 192.168.40.250
        #primary: true
        ports:
          http:
            port: 1883
        labels:
          cilium.io/l2-ip-pool: reserved
    persistence:
      config:
        enabled: true
        existingClaim: mosquitto-data
        globalMounts:
          - path: /mosquitto/data
      config-file:
        type: configMap
        name: mosquitto
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/config/mosquitto.conf
                subPath: mosquitto.conf
    configMaps:
      config:
        enabled: true
        data:
          mosquitto.conf: |
            listener 1883
            allow_anonymous true
            persistence true
            persistence_location /mosquitto/data
            connection_messages false
