apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &appname rathena-renewal
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      interval: 16m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    defaultPodOptions:
      nodeSelector:
        node-role.kubernetes.io/worker: 'true'

    controllers:
      main:
        enabled: true
        type: deployment
        replicas: 1
        strategy: Recreate
        pod:
          hostNetwork: true
        containers:
          server:
            image:
              repository: 
                ghcr.io/lenaxia/docker-rathena
              tag: packetver20200401-renewal-20251220@sha256:a939f99894337b4de631f20c252d101fa88c792b514a00946159088ccd58c8ce
            envFrom:
              - secretRef:
                  name: rathena-renewal
            env:
              - name: MYSQL_HOST
                valueFrom:
                  secretKeyRef:
                    name: mariadb-operator-connection
                    key: host
              - name: MYSQL_PORT
                valueFrom:
                  secretKeyRef:
                    name: mariadb-operator-connection
                    key: port
              - name: MYSQL_USER
                valueFrom:
                  secretKeyRef:
                    name: mariadb-operator-connection
                    key: username
              - name: MYSQL_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: mariadb-operator-connection
                    key: password
              - name: MYSQL_DATABASE
                value: ragnarok
              - name: SET_SERVER_NAME
                value: "rAthena"
              - name: MYSQL_DROP_DB
                value: "0"
              - name: SET_PINCODE_ENABLED
                value: "no"
              - name: SET_START_POINT
                value: "prontera,155,182"
              - name: ADD_SUBNET_MAP1
                value: "255.255.255.255:10.96.255.255"
              - name: SET_CHAR_PUBLIC_IP
                value: "192.168.5.145"
              - name: SET_MAP_PUBLIC_IP
                value: "192.168.5.145"
              - name: SET_MAP_TO_CHAR_IP
                value: "192.168.5.145"
              - name: MYSQL_ACCOUNTSANDCHARS
                value: "1"
              - name: RENEWAL
                value: "true"
          debug:
            image:
              repository: alpine
              tag: latest
            command: ["/bin/sh", "-c", "sleep 60m"]
    service:
      main:
        enabled: true
        type: LoadBalancer
        labels:
          app: rathena
        ports:
          login:
            port: 6900
            enabled: true
          char:
            port: 6121
            enabled: true
          map:
            port: 5121
            enabled: true
        primary: true
    persistence:
      entrypoint-sh:
        enabled: true
        type: configMap
        name: entrypoint-sh
        defaultMode: 0777
        globalMounts:
          - path: /entrypoint.sh
            subPath: entrypoint.sh
