apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app browserless
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      nodeSelector:
        node-role.kubernetes.io/worker: 'true'
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/browserless/chromium
              tag: v2.38.2
    service:
      main:
        type: ClusterIP
        ports:
          http:
            port: 3000
        primary: true
    global:
      nameOverride: *app
    podAnnotations:
      reloader.stakater.com/auto: 'true'
