---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: forgejo-data-volume
  namespace: utilities
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Gi
