---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb
  namespace: databases
spec:
  interval: 10m
  chart:
    spec:
      chart: mariadb
      version: 24.0.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    architecture: standalone
    auth:
      existingSecret: mariadb-secret
      database: "ragnarok"
      username: "ragnarok"
    primary:
      persistence:
        enabled: true
        existingClaim: mariadb-data-volume
      service:
        type: LoadBalancer
        loadBalancerIP: ${SVC_MARIADB_PRIMARY_ADDR}
        labels:
          cilium.io/l2-ip-pool: reserved
    secondary:
      name: replica
      replicaCount: 3
      persistence:
        storageClass: openebs-hostpath
    metrics:
      enabled: true
      resourcesPreset: none
      serviceMonitor:
        enabled: true
