---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator
  namespace: databases
spec:
  interval: 15m
  chart:
    spec:
      chart: mariadb-operator
      version: 0.38.1
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator-charts
        namespace: flux-system
  maxHistory: 3
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/mariadb-operator/mariadb-operator
      pullPolicy: IfNotPresent
    logLevel: INFO
    ha:
      enabled: true
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    webhook:
      enabled: true
      cert:
        certManager:
          enabled: true