---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: sync-mariadb-secrets
  namespace: kyverno
  annotations:
    policies.kyverno.io/title: Sync mariadb Secrets
    policies.kyverno.io/subject: Secret
    policies.kyverno.io/description: >-
      This policy will copy mariadb operator secrets which
      exist in the `databases` namespace to new namespaces when they are
      created. It will also push updates to the copied Secrets should the
      source secrets be changed.
spec:
  mutateExistingOnPolicyUpdate: true
  rules:
    - name: sync-mariadb-operator-connection
      match:
        resources:
          kinds: ["Namespace"]
      exclude:
        resources:
          namespaces: ["databases"]
      generate:
        generateExisting: true
        apiVersion: v1
        kind: Secret
        name: mariadb-operator-connection
        namespace: "{{request.object.metadata.name}}"
        synchronize: true
        clone:
          namespace: databases
          name: mariadb-operator-connection
    - name: sync-mariadb-operator-secret
      match:
        resources:
          kinds: ["Namespace"]
      exclude:
        resources:
          namespaces: ["databases"]
      generate:
        generateExisting: true
        apiVersion: v1
        kind: Secret
        name: mariadb-operator-secret
        namespace: "{{request.object.metadata.name}}"
        synchronize: true
        clone:
          namespace: databases
          name: mariadb-operator-secret
