home-kubernetes-cp-00.yaml
home-kubernetes-cp-01.yaml
home-kubernetes-cp-02.yaml
home-kubernetes-worker-00.yaml
home-kubernetes-worker-01.yaml
home-kubernetes-worker-02.yaml
home-kubernetes-worker-03.yaml
home-kubernetes-worker-04.yaml
talosconfig
