---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-media-jellyfin
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app jellyfin
  #components:
    # Disabled until K8s 1.34+ when MutatingAdmissionPolicy graduates to beta
    # VolSync with Kopia requires MAP for NFS repository mounting
    #- ../../../../components/volsync
    #- ../../../../components/gatus/external
  path: ./kubernetes/apps/media/jellyfin/app
  postBuild:
    substitute:
      APP: *app
      GATUS_PATH: /web/index.html
      VOLSYNC_CAPACITY: 50Gi
      VOLSYNC_PVC: config-jellyfin-0
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  targetNamespace: default
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: jellyfin
      namespace: media
  interval: 30m
  retryInterval: 1m
  timeout: 3m
