---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: authelia-config
  namespace: networking
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
