apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: &app volsync
  app.kubernetes.io/instance: *app
resources:
  - ocirepository.yaml
  - helm-release.yaml
  - prometheusrule.yaml
  - volsync-kopia-secret.yaml
  # Temporarily commented out until VolSync operator deploys and installs CRDs
  # - kopiamaintenance.yaml
